<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/ico.ico">
    <title>Music DB</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/styles.css">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                {% if session.logged_in %}
                <a class="btn btn-secondary" href="{{ url_for('logout') }}">Sign out</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('login') }}">Log in</a>
                {% endif %}
            </form>
        </div>
    </nav>
</header>
<main role="main">
    <div class="container marketing">
        <!--Carousel-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/cover_4.jpg" alt="First slide">
                                <div class="carousel-caption">
                                    <h3>Welcome to Music DB!</h3>
                                    <p>Explore our vast collection of songs, albums, and artists from around the world</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="/static/cover_4.jpg" alt="Second slide">
                                <div class="carousel-caption">
                                    <h3>Don't stay behind, join!.</h3>
                                    <p>Free registration.</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="/static/cover_4.jpg" alt="Third slide">
                                <div class="carousel-caption">
                                    <h3> Have questions?</h3>
                                    <p>Message Us!</p>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--links-->
        <h2><a href="{{url_for('genres')}}">Genres</a></h2><br>
        <div class="overview">
            <img class="large-image"src="/static/genre_11.jpg" alt="Korean R&B singer ">
            <img class="large-image"src="/static/genre_9.jpg" alt="American Rock">
            <img class="large-image"src="/static/genre_10.jpg" alt="Pop">
        </div>
        <h2>Albums</h2><br>
        <div class="overview">
            <img class="large-image"src="/static/album_1.jpg">
            <img class="large-image"src="/static/album_2.jpg">
            <img class="large-image"src="/static/album_5.jpg">
        </div>
        <h2><a href="{{url_for('artists')}}">Artists</a></h2><br>
        <div class="overview">
            <img class="large-image"src="/static/singer_1.jpg">
            <img class="large-image"src="/static/singer_2.jpg">
            <img class="large-image"src="/static/genre_8.jpg">
        </div>
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2023<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        Images by <a href="https://www.freepik.com/free-photo/emo-girl-holding-guitar-side-view_29652552.htm#query=Korean%20singers&position=21&from_view=search&track=ais">Freepik</a>
    </footer>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
